[submodule "vscode-extension"]
	path = vscode-extension
	url = https://github.com/gilescope/vscode-lldb.git
[submodule "linker"]
	path = linker
	url = https://github.com/gilescope/wild
	branch = giles-mac
[submodule "rustc_codegen_cranelift"]
	path = rustc_codegen_cranelift
	url = git@github.com:gilescope/rustc_codegen_cranelift.git
[submodule "bugstalker"]
	path = bugstalker
	url = https://github.com/gilescope/BugStalker
	branch = giles-rust-visuals
[submodule "wasmtime"]
	path = wasmtime
	url = git@github.com:gilescope/wasmtime.git
	branch = giles-cranelift-hotswap
