[submodule "vscode-extension"]
	path = vscode-extension
	url = https://github.com/gilescope/vscode-lldb.git
	branch = main
[submodule "linker"]
	path = linker
	url = https://github.com/gilescope/wild
	branch = main
[submodule "bugstalker"]
	path = bugstalker
	url = https://github.com/gilescope/BugStalker
	branch = main
